- if (everyauth.loggedIn)
	//  Greeting
	p Welcome #{everyauth.facebook.user.name}
	- console.log('CLIENT:' + JSON.stringify(everyauth.facebook.user));
	a(href='/fb/logout') Logout

- else
	a(href='/auth/facebook')
		img(src='/images/connect.png')