h1 Facebook
- if (everyauth.loggedIn)
	p: a(href='/fb/logout') logout
	p Welcome #{everyauth.facebook.user.name}
	p #{JSON.stringify(everyauth.facebook.user)}

- else
	p
		a(href='/auth/facebook')
			img(src='/images/connect.png')