p Todo:
ul
	li.done bootstrap
	li.done everyauth & fbgraph
	li facebook graph stuff
	li socket.io
	li jsonp search autocomplete/typeahead
	li play with mongoose
	li drag and drop
	li dropbox integration (maybe dnd to dropbox account)